@import "common/styles/sass/variables.scss";
@import "common/styles/sass/mixins.scss";

.container {
    margin-bottom: 40px;
    width: 166px;

    @media screen and (max-width: 741px) {
        width: 31%;
    }

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;
        padding: 44px 0 44px 0;

        border: 2px solid $borderColor;
        border-radius: 85px;

        transition: .3s;

        .skillIcon {
            width: 90px;
            height: 120px;
            color: $primaryColor;
            opacity: 0.8;

            transition: .3s;
        }
    }

    h3 {
        margin: 0;
        @include text(("Inter", sans-serif), 20px, 1.2, 300);
        text-align: center;
    }

    &:hover>.inner {
        border-color: $primaryColor;

        transition: .3s;
    }

    &:hover>.inner>.skillIcon {
        opacity: 1;

        transition: .3s;
    }
}