@import "common/styles/sass/mixins.scss";

.projectsContainer {
    @include displayFlex(flex, flex-start, center, column, wrap);

    .inner {
        @include displayFlex(flex, space-evenly, $flexWrap: wrap);
        gap: 1rem;

        border: 1px solid;
        width: 100%;
    }
}