@import "common/styles/sass/mixins";

.items {
    position: inherit;
    right: 35px;
    top: 245px;
    z-index: inherit;

    @include displayFlex(space-evenly, center, column);

    border: 2px solid #575757;
    border-radius: 30px;
    height: 315px;

    background: transparent;

    @media screen and (max-width: 1024px) {
        display: none;
    }

    @media screen and (max-height: 530px) {
        top: 85px;
    }
}