.container {
    justify-content: flex-start;
    flex-direction: column;
}

.inner {
    border: 1px solid;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}