@import "common/styles/sass/variables";
@import "common/styles/sass/mixins";

.item {
    text-decoration: none;
    cursor: pointer;

    padding: 20px 10px;

    position: relative;

    @include displayFlex(center, flex-start);

    .icon {
        width: 21px;
        height: 21px;

        color: $textColor;
        opacity: 0.5;

        transition: opacity .3s ease, color .3s ease;
    }

    &:hover>.icon {
        color: $primaryColor;
        opacity: 1;

        transition: all .3s ease;
    }

    .linkName {
        display: inline-flex;
        margin-left: 15px;
        opacity: 0.5;
        color: $textColor;

        transition: opacity .3s ease;
    }

    &:hover>.linkName {
        opacity: 1;

        transition: all .3s ease;
    }

    .show {
        opacity: 1;
        visibility: visible;
        transition: .3s ease-in-out;
    }
}

.active {

    .icon,
    .linkName {
        color: $primaryColor;
        opacity: 1;
    }
}