.mainSection {
    height: 100vh;
}

.text {
    background-color: white;
    border: 1px solid;
    width: 400px;
}

.photo {
    width: 300px;
    height: 400px;

    background-color: white;
    border: 1px solid;
}

@media screen and (max-device-width: 1001px) {
    .text {
        text-align: center;
    }
}

@media screen and (max-device-width: 425px) {
    .photo {
        width: 200px;
        height: 300px;
    }
}
