@import "common/styles/sass/mixins.scss";

.mainContainer {
    @include displayFlex(space-around, center, $flexWrap: wrap);
}

.text {
    background-color: white;
    border: 1px solid;
    width: 400px;

    @media screen and (max-width: 1001px) {
        text-align: center;
    }
}

.photo {
    width: 300px;
    height: 400px;

    background-color: white;
    border: 1px solid;

    @media screen and (max-width: 425px) {
        width: 200px;
        height: 300px;
    }
}