@import "common/styles/sass/mixins.scss";

.skillsContainer {
    @include displayFlex(flex-start, center, column, wrap);

    .inner {
        @include displayFlex(space-evenly, $flexWrap: wrap);
        gap: 3rem;

        border: 1px solid;
        width: 100%;
    }
}