@import "common/styles/sass/variables.scss";
@import "common/styles/sass/mixins.scss";

.item {
    margin-bottom: 60px;
    width: 350px;

    display: flex;
    flex-direction: column;

    .image {
        border-radius: 30px;
        position: relative;
        margin-bottom: 30px;

        @include toCenterImage();

        height: 350px;
        position: relative;

        display: flex;
        justify-content: stretch;
        align-items: stretch;

        a {
            position: relative;
            z-index: 1;

            width: 100%;
            height: 100%;
        }

        &::before {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 30px;
            opacity: 0;
            transition: .5s;
        }

        .techList {
            list-style: none;
            margin: 0;
            padding: 0;

            position: absolute;
            bottom: 20px;
            left: 20px;

            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: flex-end;

            .tech {
                display: block;
                font-family: "inter", sans-serif;
                font-size: 14px;

                @include changeTechColor($textColor, $bgColor);

                padding: 7px 20px;
                border-radius: 19px;

                transition: .5s;
            }
        }
    }

    h2 {
        @include text (24px, 1.2, 300);
        margin: 0;
    }

    .title a {
        color: inherit;
        border-bottom: 1px solid transparent;
        transition: .5s;
    }

    &:hover>.title a {
        border-bottom: 1px solid $textColor;

        transition: .5s;
    }

    &:hover>.image::before {
        opacity: 0.1;
        background-color: $bgColor;

        transition: .5s;
    }

    &:hover>.image>.techList>.tech {
        @include changeTechColor($bgColor, $textColor);

        transition: .5s;
    }
}