@import "common/styles/sass/mixins.scss";
@import "common/styles/sass/variables.scss";

.container {
    border: 1px solid $borderColor;
    border-radius: 20px;
    max-width: 485px;
    width: 100%;
    padding: 50px;

    position: fixed;
    // position: relative;
    left: 35px;
    // left: 18px;
    top: 0;
    // top: 0;
    transform: translateY(10%);
    // transform: translate(100%, 5%);
    z-index: 10;

    @include displayFlex(center, center, column, wrap);

    @media screen and (max-width: 2000px) {
        max-width: 400px;
    }

    @media screen and (max-width: 1555px) {
        max-width: 350px;
        padding: 30px;
    }

    .personalPhoto {
        margin-bottom: 46px;

        img {
            max-width: 100%;
            border-radius: 20px;
            @include toCenterImage();

            @media screen and (max-width: 1555px) {
                max-width: 250px;
            }

            @media screen and (max-width: 1220px) {
                width: auto;
            }
        }
    }

    .info {
        text-align: center;

        margin-bottom: 25px;

        h2 {
            margin: 0 0 0.5rem 0;
            @include text(22px, 1.2, 300);
        }

        .copyright {
            margin: 24px 0 0 0;
            @include text(14px, 1.7, 400);
            color: $secondaryTextColor;
        }
    }

    .social {
        @include displayFlex(center, flex-start);

        .links {
            list-style: none;
            padding: 0;
            margin: 0 0 20px;

            li {
                display: inline-flex;
                margin-left: 10px;

                a {
                    border: 2px solid $borderColor;
                    border-radius: 50%;
                    padding: 12px 14px;

                    transition: .3s;

                    .icon {
                        color: $secondaryTextColor;
                        transition: .3s;
                    }

                    &:hover .icon {
                        color: $primaryColor;
                        transition: .3s;
                    }

                    &:hover {
                        border-color: $primaryColor;
                        transition: .3s;
                    }
                }



            }
        }

    }

    .buttonLink {
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: inherit;
        font-weight: inherit;
        line-height: inherit;
        width: 100%;

        .buttonWrapper {
            align-items: center;
            width: 100%;
            height: 40px;
        }
    }
}