@mixin text($fontFamily, $fontSize, $lineHeight, $fontWeight) {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

@mixin toCenterImage() {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin changeTechColor($bgColor, $color) {
    background-color: $bgColor;
    color: $color;
}

@mixin displayFlex($display: flex, $justifyContent: center, $alignItems: center, $flexDir: row, $flexWrap: no-wrap) {
    display: $display;
    flex-direction: $flexDir;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $flexWrap;
}