@mixin text($fontSize, $lineHeight, $fontWeight) {
    font-family: "Inter", sans-serif;
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

@mixin toCenterImage() {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin changeTechColor($bgColor, $color) {
    background-color: $bgColor;
    color: $color;
}

@mixin displayFlex($justifyContent: flex-start, $alignItems: flex-start, $flexDir: row, $flexWrap: nowrap, $display: flex) {
    display: $display;
    flex-direction: $flexDir;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $flexWrap;
}

@mixin blockStyle() {
    min-height: 100vh;
    padding: 68px 100px 68px 380px;

    @media screen and (max-width: 1120px) {
        padding: 25px 15px;
    }
}

@mixin commonContainer() {
    height: 100%;
    width: 81%;
    margin: 0 auto;

    padding: 0 15px;

    @media screen and (max-width: 576px) {
        width: 100%;
    }
}