@import "common/styles/sass/mixins";
@import "common/styles/sass/variables";

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;

    .burgerButton {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 25px;
        right: 25px;
        z-index: 12;
        background-color: transparent;
        border: 1px solid $borderColor;
        border-radius: 30px;

        @include displayFlex(center, center, column, nowrap, inline-flex);
        gap: 10px;
        cursor: pointer;

        @media screen and (min-width: 769px) {
            display: none;
        }

        .line {
            background: $textColor;
            opacity: 0.8;
            height: 2px;
            width: 40%;

            transition: all .4s ease-in-out;
        }

        .line1 {
            transform: translate(1px, 8px) rotate(45deg);
            transition: all .4s ease-in-out;
        }

        .line2 {
            transform: translate(1px, -4px) rotate(-45deg);
            transition: all .4s ease-in-out;
        }
    }
}