@import "common/styles/sass/mixins.scss";

.contactsContainer {
    @include displayFlex(flex-start, center, column, wrap);

    .contactsGroup {
        @include displayFlex($justifyContent: center);

        & label {
            font-size: 1.1rem;
        }

        & input,
        textarea {
            width: 100%;
            padding: 0.2rem;
            margin-bottom: 1.2rem;

            background: transparent;
            border: 1px solid black;
            border-radius: 3px;
            outline: none;
        }

        & input {
            height: 3em;
        }

        & textarea {
            min-height: 120px;
            overflow: auto;
            resize: vertical;
        }

        .formSubmitButton {
            outline: none;

            display: block;
            margin: 0 auto;
            padding: 10px 50px;
            border-radius: 3px;
            font-size: 1rem;

            background-color: coral;
            color: darkblue;
        }
    }
}