.block {
    background-color: whitesmoke;
}

.container {
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    border: 1px solid;
}

.contactsGroup {
    width: 80%;
}

.contactsGroup label {
    font-size: 1.1rem;
}

.contactsGroup input,
.contactsGroup textarea {
    width: 100%;
    padding: 0.2rem;

    background: transparent;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
}

.contactsGroup input {
    height: 3em;
}

.contactsGroup textarea {
    min-height: 120px;
    overflow: auto;
    resize: vertical;
}

.formInputName, .formInputEmail, .formInputMessage {
    margin-bottom: 1.2rem;
}

.formSubmitButton {
    outline: none;

    display: block;
    margin: 0 auto;
    padding: 10px 50px;
    border-radius: 3px;
    font-size: 1rem;

    background-color: coral;
    color: darkblue;
}
