@import "common/styles/sass/mixins";
@import "common/styles/sass/variables";

.container {
    background-color: $sidebarMenuColor;

    position: inherit;
    z-index: inherit;
    top: inherit;
    right: inherit;

    @include displayFlex(center, flex-start, column);

    height: 100%;
    width: 50%;
    margin-left: auto;

    @media screen and (min-width: 769px) {
        display: none;
    }

    .items {
        width: 100%;
        height: 70%;
        @include displayFlex(space-between, flex-start, column);

        background-color: inherit;
    }
}