@import "common/styles/sass/mixins";
@import "common/styles/sass/variables";

.container {
    background-color: $sidebarMenuColor;

    position: inherit;
    z-index: inherit;
    top: inherit;
    right: inherit;

    @include displayFlex(center, flex-start, column);

    height: 100%;
    width: 50%;
    margin-left: auto;

    transform: translateX(100%);
    transition: transform .5s ease;

    @media screen and (min-width: 1025px) {
        display: none;
    }

    .items {
        width: 100%;
        height: 70%;
        @include displayFlex(space-between, flex-start, column);

        background-color: inherit;
    }
}

.show {
    transform: translateY(0);
    transition: all .5s ease;
}

.overlay {
    position: fixed;
    top: inherit;
    right: inherit;
    height: 100%;
    width: 100%;
    z-index: inherit;
    background-color: $borderColor;
    opacity: 0.5;
}