@import "common/styles/sass/variables";

.navlink {
    text-decoration: none;
    cursor: pointer;

    padding: 20px 10px;

    position: relative;

    .icon {
        width: 21px;
        height: 21px;

        color: $textColor;
        opacity: 0.5;
    }

    &:hover>.icon {
        color: $primaryColor;
        opacity: 1;
    }

    .show {
        opacity: 1;
        visibility: visible;
        transition: .3s ease-in-out;
    }
}

.active {
    .icon {
        color: $primaryColor;
        opacity: 1;
    }
}